
@page "/Admin/Article"
@page "/Admin"
<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Danh sách bài viết</h3>
            <p class="text-muted m-b-30 font-13"> Danh sách bài viết đã cập nhật </p>
            <div class="form-group row" style="justify-content: left; margin-bottom: 10px;">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <a class="btn btn-mat btn-primary m-r-10 m-b-10" style="color: #FFFFFF;" href="/Admin/Article/Edit"><i class="fa fa-plus-circle"></i>Thêm mới</a>
                    @if (user != null && user.IsInRole("Quản trị hệ thống"))
                    {
                        <a class="btn btn-mat btn-success m-r-10 m-b-10" style="color: #FFFFFF;" @onclick="@(() => OnPostDemand(2))"><i class="fa fa-play"></i>Duyệt đăng</a>
                        <a class="btn btn-mat btn-warning m-r-10 m-b-10" style="color: #FFFFFF;" @onclick="@(() => OnPostDemand(1))"><i class="fa fa-play-circle"></i>Hủy đăng</a>
                        <a class="btn btn-mat btn-danger m-r-10 m-b-10" style="color: #FFFFFF;" @onclick="(() => DeleteArticle(null))"><i class="fa fa-trash"></i>Xóa bài</a>
                    }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div>
                        <TelerikDropDownList Class="m-r-10 m-b-10" @bind-Value="articleCategorySelected" Data="@lstArticleCategory" DefaultText="Chọn chuyên mục ..."
                                             ValueField="Id" TextField="Name" Id="ArticleCategory">
                        </TelerikDropDownList>
                        <TelerikDropDownList Class="m-r-10 m-b-10" @bind-Value="articleStatusSelected" Data="@lstArticleStatus" DefaultText="Chọn trạng thái ..."
                                             ValueField="Id" TextField="Name" Id="ArticleStatus">
                        </TelerikDropDownList>
                        <input class="form-control m-r-10 m-b-10" type="search" @bind="keyword" placeholder="Từ khóa tìm kiếm..." />
                        <a class="btn btn-mat btn-success m-r-10 m-b-10" href="Admin/Article?p=1&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected " style="color: #FFFFFF;"><i class="fa fa-search"></i>Tìm kiếm</a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="check" @onchange="args => OnCheckBoxChange(true,0,args.Value)" />
                                            <span class="info">Tất cả</span>
                                        </th>
                                        <th style="width:100px;">
                                        </th>
                                        <th>
                                            Tiêu đề
                                        </th>
                                        <th style="width:50px;">
                                            Trạng thái
                                        </th>
                                        <th style="width:50px;">
                                            Lượt xem
                                        </th>
                                        <th style="width:50px;">
                                        </th>
                                        <th style="width:50px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstArticle == null)
                                    {
                                        <p><em>Loading...</em></p>
                                    }
                                    else
                                    {
                                        @foreach (var item in lstArticle)
                                        {
                                            bool Checked = false;
                                            if (listArticleSelected.Contains(item.Id))
                                            {
                                                Checked = true;
                                            }
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="check" checked="@Checked" @onchange="args => OnCheckBoxChange(false,item.Id,args.Value)">
                                                </td>
                                                <td>
                                                    <img src="/data/article/mainimages/small/@item.Image" />
                                                </td>
                                                <td>
                                                    <div style="font-weight: 700;">
                                                        <a href="/Admin/Article/Edit?articleId=@item.Id">
                                                            @item.Name
                                                        </a>
                                                    </div>
                                                    <div>
                                                        Đăng bởi <b>@item.CreateByName</b> vào lúc
                                                        <b>@item.CreateDate.Value.ToString("dd/MM/yyyy HH:mm")</b>
                                                    </div>
                                                    <div>
                                                        Chuyên mục: <span style="font-weight: 700; color: #0094ff;">@item.ArticleCategoryName</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="margin-top: 20px; text-align: center;">
                                                        @{
                                                            string styleStatus = "badge-success";
                                                            if (item.ArticleStatusId == 0)
                                                            {
                                                                styleStatus = "badge-info";
                                                            }
                                                            else if (item.ArticleStatusId == 1)
                                                            {
                                                                styleStatus = "badge-warning";
                                                            }
                                                        }
                                                        <label class='badge @styleStatus'> @item.StatusName</label>
                                                    </div>
                                                </td>
                                                <td style="text-align: center; padding-top: 30px;">
                                                    <label class="badge badge-warning">@item.Counter</label>
                                                </td>
                                                <td style="text-align: center; padding-top: 30px;">
                                                    <a href="/Admin/Article/Preview?articleId=@item.Id">
                                                        <i class="fa fa-eye" style="color: #0094ff;"></i>
                                                    </a>
                                                </td>
                                                @if (item.ArticleStatusId != 2)
                                                {
                                                    <td>
                                                        <div style="margin-top: 20px;">
                                                            @if (item.LastEditBy == UserManager.GetUserId(user))
                                                            {
                                                            <a href="/Admin/Article/Edit?articleId=@item.Id">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a @onclick="(() => DeleteArticle(item.Id))">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                                
                                                            }
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="simpletable_paginate" style="float:right">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous" id="simpletable_previous">
                                            <a href="Admin/Article?p=1&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected " aria-controls="simpletable" data-dt-idx="1" tabindex="0" class="page-link">
                                                <i class="fa fa-fast-backward"></i>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item previous" id="simpletable_previous">
                                            <a href="Admin/Article?p=@(p > 1 ? p - 1 : 1)&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected " aria-controls="simpletable" data-dt-idx="@(p-1)" tabindex="0" class="page-link">
                                                <i class="fa fa-step-backward"></i>
                                            </a>
                                        </li>
                                        @for (var i = 1; i <= totalPages; i++)
                                        {

                                            <li class="paginate_button page-item @(i == currentPage ? "active" : "") " style="@((i > currentPage + 2) || (i < currentPage -2) ? "display:none" : "" )">
                                                <a href="Admin/Article?p=@i&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected" aria-controls="simpletable" data-dt-idx="@i" tabindex="0" class="page-link">
                                                    @i
                                                </a>
                                            </li>
                                        }
                                        <li class="paginate_button page-item next" id="simpletable_next">
                                            <a href="Admin/Article?p=@(p == totalPages ? totalPages : p + 1)&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected " aria-controls="simpletable" data-dt-idx="@(p+1)" tabindex="0" class="page-link">
                                                <i class="fa fa-step-forward"></i>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item next" id="simpletable_next">
                                            <a href="Admin/Article?p=@totalPages&articleCategoryId=@articleCategorySelected&keyword=@keyword&articleStatusId=@articleStatusSelected" aria-controls="simpletable" data-dt-idx="@totalPages" tabindex="0" class="page-link">
                                                <i class="fa fa-fast-forward"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ConfirmBase @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Bạn có chắc chắn muốn xóa?") ConfirmationTitle=@("Xác nhận xóa") />

